Repository aitchwhy/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxlint, typecheck, nixfmt

lefthook.yml:

min_version: 1.9.0

pre-commit:
  parallel: true
  skip: [merge, rebase]
  commands:
    biome:
      glob: 'config/quality/**/*.{js,ts,tsx,json}'
      root: 'config/quality'
      run: bunx @biomejs/biome check --write {staged_files}
      stage_fixed: true

    oxlint:
      glob: 'config/quality/**/*.{js,ts,tsx,jsx}'
      root: 'config/quality'
      run: bunx oxlint --deny correctness {staged_files}

    typecheck:
      glob: 'config/quality/**/*.{ts,tsx}'
      root: 'config/quality'
      run: bun run typecheck

    nixfmt:
      glob: '**/*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true

# commit-msg hooks disabled - conventional commits enforced by CI
# commit-msg:
#   commands:
#     commitlint:
#       run: bunx commitlint --config config/quality/commitlint.config.cjs --edit {1}

fix(nix): use absolute bun path in DXT manifest and migrate brews to nixpkgs
  modules/home/apps/claude-desktop.nix
  modules/home/packages/common.nix
  modules/homebrew.nix
Due: nixfmt

chore(nix): update flake.lock
  flake.lock
Due: none

fix(nix): disable ast-grep tests to work around upstream darwin failure
  modules/nixpkgs.nix
Due: nixfmt

fix(hazel): update sync paths and add GDrive exclusion filters
  config/hazel/CLAUDE.md
  config/hazel/SYNC-PATHS.txt
  config/hazel/rules/Desktop.hazelrules
Due: none

feat(claude): add grill-me skill with Nix symlink
  config/claude-code/skills/grill-me/SKILL.md
  modules/home/apps/claude.nix
Due: nixfmt

feat(claude): remove ast-grep MCP and ralph-wiggum plugin, add datadog skill
  CLAUDE.md
  config/claude-code/skills/datadog/SKILL.md
  modules/home/apps/claude.nix
Due: nixfmt

chore(nix): update all deps to latest 2026-03-27
  flake.lock
  flake.nix
Due: none

refactor(just): streamline switch pipeline and add brew upgrade
  justfile
Due: none

fix(homebrew): rename qlvideo to quicklook-video
  modules/homebrew.nix
Due: nixfmt

fix(just): remove redundant brew upgrade from switch (nix-darwin onActivation handles it)
  justfile
Due: none

fix(homebrew): disable greedyCasks to prevent CDN-lag failures
  modules/homebrew.nix
Due: nixfmt

feat(homebrew): enable greedyCasks and update deps
  flake.lock
  modules/homebrew.nix
Due: nixfmt

chore(hazel): update Desktop, Documents, and Downloads rules
  config/hazel/rules/Desktop.hazelrules
  config/hazel/rules/Documents.hazelrules
  config/hazel/rules/Downloads.hazelrules
Due: none

chore(nix): update flake inputs
  flake.lock
Due: none

chore(homebrew): add verbose flag and remove rekordbox
  modules/homebrew.nix
Due: nixfmt

chore(homebrew): remove azure-cli, add livekit-cli
  modules/homebrew.nix
Due: nixfmt

feat(claude): add releaseChannel latest to settings generator
  config/quality/src/generators/claude/settings.generator.ts
Due: biome, oxlint, typecheck

feat(nix): migrate claude-code from Homebrew cask to nixpkgs
  modules/home/packages/common.nix
  modules/homebrew.nix
Due: nixfmt

feat(atuin): switch theme from autumn to catppuccin mocha lavender
  modules/home/tools/atuin.nix
Due: nixfmt

feat(shell): add claude-glm failover function for Z.ai GLM 5.1
  modules/home/shell/zsh.nix
Due: nixfmt

fix(shell): use esc open for secret retrieval in claude-glm
  modules/home/shell/zsh.nix
Due: nixfmt

feat(shell): add claude-glm failover for Z.ai GLM 5.1 (#4)
  modules/home/shell/zsh.nix
Due: nixfmt

fix(shell): use --bare mode in claude-glm to force API key auth over OAuth/keychain
  modules/home/shell/zsh.nix
Due: nixfmt

fix(shell): use ANTHROPIC_AUTH_TOKEN for claude-glm to override OAuth/keychain
  modules/home/shell/zsh.nix
Due: nixfmt

fix(shell): pull Z.ai key from AWS SM directly instead of Pulumi ESC
  modules/home/shell/zsh.nix
Due: nixfmt

feat(claude): add custom statusline with model indicator, cost, branch, and PR [told-1593]
  config/claude/statusline.sh
  config/quality/src/generators/claude/settings.generator.ts
  modules/home/apps/claude.nix
Due: biome, oxlint, typecheck, nixfmt

feat(claude): add caveman plugin for terse output mode
  modules/home/apps/claude.nix
Due: nixfmt

fix(claude): make plugin install hook resilient to sandbox restrictions
  modules/home/apps/claude.nix
Due: nixfmt

fix(claude): run plugin install before config merge so enabledPlugins wins
  modules/home/apps/claude.nix
Due: nixfmt

feat(claude): add 5 project directories to Desktop filesystem allowlist
  modules/home/apps/claude.nix
Due: nixfmt

feat(homebrew): add Carbon Copy Cloner for disk backup and cloning
  modules/homebrew.nix
Due: nixfmt

feat(claude): add linear graphql skill, plan-ticket, and architect agent
  CLAUDE.md
  config/claude-code/agents/architect.md
  config/claude-code/skills/linear/SKILL.md
  config/claude-code/skills/plan-ticket/SKILL.md
  config/quality/src/ci/mcp/index.ts
  config/quality/src/generators/claude/settings.generator.ts
  modules/home/apps/claude.nix
Due: biome, oxlint, typecheck, nixfmt

fix(claude): use single credential source (pulumi esc) for linear api token
  config/claude-code/agents/architect.md
  config/claude-code/skills/linear/SKILL.md
  config/claude-code/skills/plan-ticket/SKILL.md
Due: none

fix(claude): address pr review findings from 3-agent review
  config/claude-code/skills/linear/SKILL.md
  config/claude-code/skills/plan-ticket/SKILL.md
  modules/home/apps/claude.nix
Due: nixfmt

feat(claude): add Linear GraphQL skill, plan-ticket, and architect agent (#6)
  CLAUDE.md
  config/claude-code/agents/architect.md
  config/claude-code/skills/linear/SKILL.md
  config/claude-code/skills/plan-ticket/SKILL.md
  config/quality/src/ci/mcp/index.ts
  config/quality/src/generators/claude/settings.generator.ts
  modules/home/apps/claude.nix
Due: biome, oxlint, typecheck, nixfmt

fix(claude): bypass flaky plugin hooks, add caveman to SessionStart
  config/quality/src/generators/claude/settings.generator.ts
  config/quality/src/hooks/definitions.ts
Due: biome, oxlint, typecheck

feat(claude): add accountDefs SSOT for multi-account config dir rotation
  modules/home/apps/claude.nix
Due: nixfmt
