Repository aitchwhy/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxlint, typecheck, nixfmt

lefthook.yml:

min_version: 1.9.0

pre-commit:
  parallel: true
  skip: [merge, rebase]
  commands:
    biome:
      glob: 'config/quality/**/*.{js,ts,tsx,json}'
      root: 'config/quality'
      run: bunx @biomejs/biome check --write {staged_files}
      stage_fixed: true

    oxlint:
      glob: 'config/quality/**/*.{js,ts,tsx,jsx}'
      root: 'config/quality'
      run: bunx oxlint --deny correctness {staged_files}

    typecheck:
      glob: 'config/quality/**/*.{ts,tsx}'
      root: 'config/quality'
      run: bun run typecheck

    nixfmt:
      glob: '**/*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true

# commit-msg hooks disabled - conventional commits enforced by CI
# commit-msg:
#   commands:
#     commitlint:
#       run: bunx commitlint --config config/quality/commitlint.config.cjs --edit {1}

feat(docker): migrate from Colima to OrbStack
  modules/darwin/default.nix
  modules/home/tools/docker.nix
  modules/homebrew.nix
Due: nixfmt

fix(sidekick): disable zellij mux for clipboard/image paste
  config/nvim/lua/plugins/sidekick.lua
Due: none

fix(ghostty): add explicit cmd+v paste keybind
  modules/home/apps/ghostty.nix
Due: nixfmt

feat(nvim): add terminal mode paste mapping for wispr flow
  config/nvim/lua/config/keymaps.lua
Due: none

feat(snacks): show hidden files in picker by default
  config/nvim/lua/plugins/snacks.lua
Due: none

fix(git-hooks): rename extraConfig to settings
  modules/home/tools/git-hooks.nix
Due: nixfmt

flake.lock: Update
  flake.lock
Due: none

feat(stack): update to latest versions and add repobar/qmd apps
  config/quality/src/stack/versions.ts
  modules/homebrew.nix
Due: biome, oxlint, typecheck, nixfmt

fix(homebrew): correct repobar cask name and remove ember cachix
  config/nix/netrc
  modules/homebrew.nix
Due: nixfmt

feat(homebrew): add depot CLI for docker build acceleration
  modules/homebrew.nix
Due: nixfmt

feat(stack): update packages to latest versions (jan 28 2026)
  config/quality/src/stack/versions.ts
Due: biome, oxlint, typecheck

chore(nix): update flake.lock to latest packages
  flake.lock
Due: none

fix(git): remove hooksPath setting that disables all git hooks
  modules/home/tools/git-hooks.nix
Due: nixfmt

feat(nix): add declarative MCP runtime enforcement for Claude Desktop
  modules/home/apps/claude-desktop.nix
  modules/home/default.nix
  modules/home/packages/common.nix
Due: nixfmt

fix(nix): correct GNU sed syntax for MCP extension patching
  modules/home/apps/claude-desktop.nix
Due: nixfmt

fix(nix): switch MCP runtime from bun to node due to compatibility issues
  modules/home/apps/claude-desktop.nix
Due: nixfmt

fix(nix): use system find/sed for MCP patching to avoid fd alias conflict
  modules/home/apps/claude-desktop.nix
Due: nixfmt

chore(quality): upgrade to tsgo 7.0.0-dev.20260130.1
  config/quality/package.json
Due: none

feat(nix): add tailscale GUI app via homebrew
  modules/darwin/default.nix
  modules/homebrew.nix
Due: nixfmt

fix(nix): move tailscale to casks section
  modules/homebrew.nix
Due: nixfmt

fix(clipboard): resolve conflicts between Paste, Raycast, and Clop
  modules/darwin/activation/wispr-flow.nix
  modules/home/apps/clop.nix
  modules/home/apps/paste.nix
  modules/home/apps/raycast.nix
  modules/home/default.nix
Due: nixfmt

docs(hazel): add 2026 automation rules and backup scripts
  config/hazel/HAZEL-SETUP-GUIDE-2026.md
  config/hazel/backups-2026-rotation.hazelrules
  config/hazel/desktop-2026-aggressive.hazelrules
  config/hazel/downloads-2026-aggressive.hazelrules
  config/hazel/google-drive-2026-maintenance.hazelrules
  scripts/check-duplicate-backups.sh
  scripts/gdrive-health-check.sh
  scripts/rotate-backups.sh
Due: none

feat(homebrew): add hazel for automated file organization
  modules/homebrew.nix
Due: nixfmt

feat(hazel): add critical rules with incremental adoption strategy
  config/hazel/README.md
  config/hazel/archive/backups-lifecycle.hazelrules
  config/hazel/archive/desktop-lifecycle.hazelrules
  config/hazel/archive/downloads-lifecycle.hazelrules
  config/hazel/archive/gdrive-lifecycle.hazelrules
  config/hazel/rules/backups-critical.hazelrules
  config/hazel/rules/desktop-critical.hazelrules
  config/hazel/rules/downloads-critical.hazelrules
  config/hazel/rules/gdrive-critical.hazelrules
Due: none

feat(hazel): add video and image auto-import to Photos for Downloads
  config/hazel/rules/downloads-critical.hazelrules
Due: none

docs(hazel): add automated setup guide and move docs to config directory
  config/hazel/docs/AUTOMATED-SETUP-GUIDE.md
  config/hazel/docs/CLOUD-SYNC-FINAL-STATUS.md
  config/hazel/docs/CONFLICT-FILES-LIST.md
  config/hazel/docs/GOOGLE-DRIVE-SYNC-STATUS.md
  config/hazel/docs/HAZEL-IMPORT-INSTRUCTIONS.md
  config/hazel/docs/ICLOUD-GDRIVE-SYNC-PLAN.md
  config/hazel/docs/IMPLEMENTATION-AUDIT-2026-02-01.md
  scripts/setup-hazel-automation.sh
Due: none

docs(hazel): add sync paths reference for easy setup
  config/hazel/SYNC-PATHS.txt
Due: none

refactor(hazel): consolidate docs into README with principles and architecture
  config/hazel/README.md
  config/hazel/audit-2026-02-01.md
  config/hazel/docs/AUTOMATED-SETUP-GUIDE.md
  config/hazel/docs/CLOUD-SYNC-FINAL-STATUS.md
  config/hazel/docs/CONFLICT-FILES-LIST.md
  config/hazel/docs/GOOGLE-DRIVE-SYNC-STATUS.md
  config/hazel/docs/HAZEL-IMPORT-INSTRUCTIONS.md
  config/hazel/docs/ICLOUD-GDRIVE-SYNC-PLAN.md
Due: none

fix(hazel): remove invalid text rules, update paths for corrected Google Drive structure
  config/hazel/rules/README.md
  config/hazel/rules/backups-critical.hazelrules
  config/hazel/rules/desktop-critical.hazelrules
  config/hazel/rules/downloads-critical.hazelrules
  config/hazel/rules/gdrive-critical.hazelrules
  scripts/setup-hazel-folders.applescript
  scripts/test-hazel-rules.sh
Due: none

feat(hazel): clean up config, add working Desktop and Downloads rules as source of truth
  config/hazel/README.md
  config/hazel/archive/backups-lifecycle.hazelrules
  config/hazel/archive/desktop-lifecycle.hazelrules
  config/hazel/archive/downloads-lifecycle.hazelrules
  config/hazel/archive/gdrive-lifecycle.hazelrules
  config/hazel/backups-2026-rotation.hazelrules
  config/hazel/backups.hazelrules
  config/hazel/desktop-2026-aggressive.hazelrules
  config/hazel/desktop.hazelrules
  config/hazel/downloads-2026-aggressive.hazelrules
  config/hazel/google-drive-2026-maintenance.hazelrules
  config/hazel/rules/Desktop.hazelrules
  config/hazel/rules/Downloads.hazelrules
Due: none

fix(homebrew): rename tailscale cask to tailscale-app
  modules/homebrew.nix
Due: nixfmt

feat(claude): add filesystem extension allowed_directories to nix SSOT
  modules/home/apps/claude.nix
Due: nixfmt

feat(claude): add log rotation launchd agent for SOTA maintenance
  modules/home/apps/claude.nix
Due: nixfmt

fix(claude): fix sed syntax in filesystem extension config generation
  modules/home/apps/claude.nix
Due: nixfmt

chore(homebrew): remove 52 unused apps not accessed in 2 weeks
  modules/homebrew.nix
Due: nixfmt

fix(homebrew): restore raycast launcher (primary driver app)
  modules/homebrew.nix
Due: nixfmt

fix(homebrew): restore wispr-flow voice input (primary driver app)
  modules/homebrew.nix
Due: nixfmt

fix(homebrew): remove raycast/wispr-flow duplicates (managed by separate modules)
  modules/homebrew.nix
Due: nixfmt

fix(homebrew): restore raycast to original location
  modules/homebrew.nix
Due: nixfmt

refactor(wispr-flow): use homebrew cask instead of custom activation script
  modules/darwin/default.nix
  modules/homebrew.nix
Due: nixfmt
