Repository aitchwhy/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxlint, typecheck, nixfmt

lefthook.yml:

min_version: 1.9.0

pre-commit:
  parallel: true
  skip: [merge, rebase]
  commands:
    biome:
      glob: 'config/quality/**/*.{js,ts,tsx,json}'
      root: 'config/quality'
      run: bunx @biomejs/biome check --write {staged_files}
      stage_fixed: true

    oxlint:
      glob: 'config/quality/**/*.{js,ts,tsx,jsx}'
      root: 'config/quality'
      run: bunx oxlint --deny correctness {staged_files}

    typecheck:
      glob: 'config/quality/**/*.{ts,tsx}'
      root: 'config/quality'
      run: bun run typecheck

    nixfmt:
      glob: '**/*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true

# commit-msg hooks disabled - conventional commits enforced by CI
# commit-msg:
#   commands:
#     commitlint:
#       run: bunx commitlint --config config/quality/commitlint.config.cjs --edit {1}

fix(config): update hazel rules and homebrew.nix formatting
  config/hazel/rules/Archive.hazelrules
  config/hazel/rules/Downloads.hazelrules
  modules/homebrew.nix
Due: nixfmt

chore(flake): update all inputs to latest as of 2026-02-10
  flake.lock
Due: none

fix(darwin): prevent claude backup proliferation and remove vestigial evolution agent
  modules/darwin/default.nix
  modules/darwin/services/evolution-agent.nix
  modules/home/apps/claude.nix
  scripts/health-monitor.sh
Due: nixfmt

feat(homebrew): add Linear app for project management
  modules/homebrew.nix
Due: nixfmt

feat(commands): add /add-app command for installing macOS apps
  config/claude/commands/add-app.md
Due: none

feat(hazel): add iCloud-to-GDrive sync and fix Archive sorting
  config/hazel/README.md
  config/hazel/rules/Archive.hazelrules
  config/hazel/rules/Desktop.hazelrules
  config/hazel/rules/Documents.hazelrules
  config/hazel/scripts/cleanup-documents.sh
  config/hazel/scripts/fix-archive-folders.sh
Due: none

feat(hazel): add 10 Backups sort rules for app-specific filing
  config/hazel/rules/Backups.hazelrules
Due: none

feat(packages): add fclones for fast duplicate file detection
  modules/home/packages/common.nix
Due: nixfmt

feat(hazel): add Inbox auto-filing rules for Google Drive PARA structure
  config/hazel/HAZEL-SETUP.md
Due: none

chore(tooling): set claude code cleanup period to 30 days
  config/quality/src/generators/claude/generators.test.ts
  config/quality/src/generators/claude/settings.generator.ts
Due: biome, oxlint, typecheck

chore(tooling): reduce claude code cleanup period to 7 days
  config/quality/src/generators/claude/generators.test.ts
  config/quality/src/generators/claude/settings.generator.ts
Due: biome, oxlint, typecheck

fix(homebrew): enable greedyCasks to force-upgrade auto-updating casks
  modules/homebrew.nix
Due: nixfmt

feat(mcp): add Linear SSE server for project management
  CLAUDE.md
  config/quality/src/generators/claude/settings.generator.ts
  config/quality/src/skills/mcp-optimization.skill.ts
  modules/home/apps/claude.nix
Due: biome, oxlint, typecheck, nixfmt

feat(homebrew): add Mela recipe manager via Mac App Store
  modules/homebrew.nix
Due: nixfmt

feat(homebrew): add Granola AI meeting notepad
  modules/homebrew.nix
Due: nixfmt

chore(hazel): update Desktop and Documents automation rules
  config/hazel/rules/Desktop.hazelrules
  config/hazel/rules/Documents.hazelrules
Due: none

chore(nix): update flake inputs to latest
  flake.lock
Due: none

refactor(nix): move CLI tools from nix packages to homebrew brews
  modules/home/packages/common.nix
  modules/homebrew.nix
Due: nixfmt

chore(hazel): update Downloads automation rules
  config/hazel/rules/Downloads.hazelrules
Due: none

feat(nix): declarative homebrew taps, NextDNS DNS profile, cleanup deprecated packages
  flake.lock
  flake.nix
  flake/darwin.nix
  lib/config/network.nix
  modules/darwin/default.nix
  modules/darwin/network.nix
  modules/homebrew.nix
Due: nixfmt

chore(hazel): remove obsolete backup rotation infrastructure
  config/hazel/HAZEL-SETUP-GUIDE-2026.md
  config/hazel/rules/Backups.hazelrules
  scripts/check-duplicate-backups.sh
  scripts/rotate-backups.sh
Due: none

refactor(git): consolidate manual gitconfig into home-manager SSOT
  modules/home/tools/git.nix
Due: nixfmt

refactor(home): remove split-brain env vars for atuin, yazi, zellij, lazygit
  config/atuin/config.toml
  config/git/lazygit.yml
  modules/home/default.nix
  modules/home/tools/git.nix
Due: nixfmt

chore: remove broken scripts, redundant mtr, fix gdrive path
  hosts/hank-mbp-m4.nix
  scripts/gdrive-health-check.sh
  scripts/test-hazel-rules.sh
  scripts/verify-paragon.sh
Due: nixfmt

fix(lazygit): use macOS-native config path instead of XDG
  modules/home/tools/git.nix
Due: nixfmt

refactor(lazygit): use XDG config path with LG_CONFIG_FILE override
  modules/home/tools/git.nix
Due: nixfmt

fix(glow): alias with --config to use XDG path on macOS
  modules/home/shell/aliases.nix
Due: nixfmt

chore(nix): update flake.lock
  flake.lock
Due: none

fix(lazygit): migrate config to 0.59.0 format (pagers, output)
  config/git/lazygit.yml
Due: none

refactor(lazygit): migrate to home-manager programs.lazygit module
  modules/home/shell/aliases.nix
  modules/home/tools/git.nix
Due: nixfmt

chore(lazygit): remove standalone config, now generated by home-manager
  config/git/lazygit.yml
Due: none

fix(lazygit): use correct pagers array format for 0.59.0
  modules/home/tools/git.nix
Due: nixfmt

feat(claude): add clean-claude command for stripping base64 images
  config/claude/commands/clean-claude.md
  scripts/clean-markdown-images.sh
Due: none

feat(ghostty): increase scrollback buffer to 100MB and add scroll multiplier
  modules/home/apps/ghostty.nix
Due: nixfmt

feat(hazel): add video-to-mp4 conversion script and restructure docs
  CLAUDE.md
  config/hazel/CLAUDE.md
  config/hazel/README.md
  config/hazel/rules/Downloads.hazelrules
  config/hazel/scripts/convert-video-to-mp4.sh
Due: none

fix(nix): replace nodejs_25 with bun/nodejs_24 and update docs for audit cleanup
  CLAUDE.md
  config/quality/docs/ARCHITECTURE.md
  flake/devshells.nix
  modules/home/apps/claude-desktop.nix
  pkgs/agent-browser.nix
  pkgs/default.nix
Due: nixfmt
