Repository aitchwhy/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, no-shell-hooks, no-error-swallowing, no-readmes, no-version-ranges, no-sync-fs-in-hooks, no-try-catch

nixfmt:
  run: nixfmt --check {staged_files}

no-shell-hooks:
  run: "if [ -n \"{staged_files}\" ]; then\n  echo \"ERROR: Shell scripts in hooks directory are banned\"\n  echo \"Convert to TypeScript: {staged_files}\"\n  exit 1\nfi\n"

no-error-swallowing:
  run: "if grep -E '\\|\\| true|2>/dev/null' {staged_files}; then\n  echo \"ERROR: Error swallowing patterns detected\"\n  echo \"Replace '|| true' and '2>/dev/null' with proper error handling\"\n  exit 1\nfi\n"

no-readmes:
  run: "if echo \"{staged_files}\" | grep -q \"README.md\"; then\n  echo \"ERROR: README.md files in config/ are banned\"\n  echo \"Code should be self-documenting\"\n  exit 1\nfi\n"

no-version-ranges:
  run: "if grep -E '\"[~^]' {staged_files}; then\n  echo \"ERROR: Semver ranges (^ or ~) are banned\"\n  echo \"Use exact versions from STACK.npm\"\n  exit 1\nfi\n"

no-sync-fs-in-hooks:
  run: "if grep -E 'existsSync|readFileSync|writeFileSync|appendFileSync|mkdirSync|readdirSync|statSync' {staged_files}; then\n  echo \"ERROR: Sync FS in hooks. Use @effect/platform FileSystem\"\n  exit 1\nfi\n"

no-try-catch:
  run: "if grep -E '\\btry\\s*\\{' {staged_files} | grep -v 'Effect.try'; then\n  echo \"ERROR: try/catch detected. Use Effect.try\"\n  exit 1\nfi\n"

feat(paragon): implement missing AST-grep rules for unified enforcement
  config/quality/bun.lock
  config/quality/package.json
  config/quality/rules/paragon/no-code-duplication.yml
  config/quality/rules/paragon/no-date-construction.yml
  config/quality/rules/paragon/no-forbidden-imports.yml
  config/quality/rules/paragon/no-non-null-assertion.yml
  config/quality/rules/paragon/no-null-propagation.yml
  config/quality/rules/paragon/no-raw-fetch.yml
  config/quality/rules/paragon/no-try-catch.yml
  config/quality/rules/paragon/no-type-assertions.yml
Due: no-version-ranges

feat(quality): implement pure AST-grep logic using NAPI and YAML loading
  config/quality/src/hooks/lib/ast-grep.ts
Due: no-sync-fs-in-hooks, no-try-catch

fix(flake): update paragon-ast hook path and comments
  .mcp.json
  config/quality/src/hooks/lib/guards/content.ts
  config/quality/src/hooks/lib/guards/structural.ts
  config/quality/src/hooks/pre-tool-use.ts
  flake/hooks.nix
Due: nixfmt, no-error-swallowing, no-sync-fs-in-hooks, no-try-catch

test(brain): add integration and E2E verification for multi-provider artifacts
  config/brain/tests/e2e.test.ts
Due: none

chore(brain): update package metadata to @dotfiles/brain
  config/brain/package.json
Due: no-version-ranges

fix(ci): resolve nix build errors and update workflow paths
  .github/workflows/schema-drift.yml
  .github/workflows/validate.yml
  flake/checks.nix
  modules/home/default.nix
Due: nixfmt, no-error-swallowing

fix(brain): update internal paths from config/quality to config/brain
  config/brain/generated/claude/settings.json
  config/brain/generated/claude/skills/quality-rules/SKILL.md
  config/brain/generated/cursor/rules/quality-rules.mdc
  config/brain/generated/gemini/GEMINI.md
  config/brain/src/hooks/definitions.ts
  config/brain/src/hooks/enforce-versions.ts
  config/brain/src/hooks/lib/guards/procedural.ts
  config/brain/src/skills/quality-rules.skill.ts
Due: no-readmes

fix(dev): update justfile test alias to point to config/brain
  justfile
Due: none

chore(ci): remove obsolete agents workflow
  .github/workflows/agents.yml
Due: none

fix(nix): remove erroneous agents.enable that caused build failure
  modules/home/default.nix
Due: nixfmt, no-error-swallowing

fix(ci): use system compatible python in validate workflow
  .github/workflows/validate.yml
Due: none

feat(nix): add act to development tools
  modules/home/tools/development.nix
Due: nixfmt, no-error-swallowing

feat(ci): add local act runner configuration
  config/act/actrc
Due: none

docs(dev): add local GHA testing workflow
  .agent/workflows/local-gha-testing.md
Due: none

feat(dev): add just commands for local GHA
  justfile
Due: none

feat(brain): update engineering memories to Dec 2025 standard
  config/brain/src/memories/index.ts
Due: none

chore(brain): regenerate provider artifacts
  config/brain/generated/claude/memories.md
Due: no-readmes

feat(brain): integrate new memory modules into registry
  config/brain/src/memories/architecture.ts
  config/brain/src/memories/index.ts
  config/brain/src/memories/naming.ts
  config/brain/src/memories/patterns.ts
Due: none

test(brain): update memory validation tests for new SSOT modules
  config/brain/src/generators/claude/generators.test.ts
  config/brain/src/memories/memories.test.ts
  config/brain/tests/integration.test.ts
Due: none

chore(brain): regenerate intelligence artifacts
  config/brain/generated/claude/memories.md
Due: no-readmes

feat(brain): update configuration to Dec 2025 SOTA stack
  config/brain/STACK.md
  config/brain/bun.lock
  config/brain/generated/claude/memories.md
  config/brain/generated/claude/rules/RULES.md
  config/brain/generated/claude/settings.json
  config/brain/package.json
  config/brain/playwright.config.ts
  config/brain/src/generators/claude/generators.test.ts
  config/brain/src/generators/claude/memories.generator.ts
  config/brain/src/generators/index.ts
  config/brain/src/hooks/enforce-versions.ts
  config/brain/src/hooks/prompt-validator.ts
  config/brain/src/memories/index.ts
  config/brain/src/memories/memories.test.ts
  config/brain/src/memories/schemas.ts
  config/brain/src/memories/standards.ts
  config/brain/src/rules/effect.rules.ts
  config/brain/src/schemas/index.ts
  config/brain/src/stack/versions.ts
  config/brain/sync-versions.ts
  config/brain/templates/core/biome.json
  config/brain/templates/core/tsconfig.base.json
  config/brain/templates/monorepo/.gitignore
  config/brain/templates/monorepo/.npmrc
  config/brain/templates/monorepo/app-api-package.json
  config/brain/templates/monorepo/lefthook.yml
  config/brain/templates/monorepo/package-package.json
  config/brain/templates/monorepo/package-tsconfig.json
  config/brain/templates/monorepo/package.json
  config/brain/templates/monorepo/pnpm-workspace.yaml
  config/brain/templates/monorepo/tsconfig.json
  config/brain/templates/monorepo/vitest.config.ts
  config/brain/tests/integration.test.ts
  config/brain/tests/rules.test.ts
  config/brain/versions.json
  lefthook.yml
Due: no-readmes, no-version-ranges

chore(nix): add ast-grep to packages
  modules/home/packages/common.nix
Due: nixfmt, no-error-swallowing

fix(quality): strict TypeScript compliance for evolution files
  config/quality/src/evolution/consolidate.ts
  config/quality/src/evolution/evolve.ts
  config/quality/src/evolution/lib/spawn.ts
  config/quality/src/evolution/reflect.ts
  config/quality/src/evolution/trend-alert.ts
  config/quality/tsconfig.json
Due: no-try-catch

fix(quality): correct RULES_DIR path after brain to quality rename
  config/quality/src/hooks/pre-tool-use.ts
Due: no-try-catch

fix(quality): improve ast-grep NAPI compatibility in hooks
  config/quality/src/hooks/lib/ast-grep.ts
Due: no-sync-fs-in-hooks, no-try-catch

fix(quality): correct ast-grep rule patterns for NAPI compatibility
  config/quality/rules/paragon/no-mock-patterns.yml
  config/quality/rules/paragon/no-truthiness-check.yml
Due: none

fix(quality): allow date-fns in forbidden deps check
  config/quality/src/hooks/lib/guards/procedural.ts
Due: no-sync-fs-in-hooks, no-try-catch

refactor(quality): unify test infrastructure with vitest and SSOT patterns
  .github/workflows/schema-drift.yml
  .github/workflows/validate.yml
  config/quality/package.json
  config/quality/src/critic-mode/critic-mode.test.ts
  config/quality/src/hooks/lib/guards/procedural.test.ts
  config/quality/src/memories/memories.test.ts
  config/quality/src/stack/schema.test.ts
  config/quality/src/stack/versions.test.ts
  config/quality/tests/integration.test.ts
  config/quality/tests/lib/result.test.ts
  config/quality/tests/rules.test.ts
  config/quality/tsconfig.json
  config/quality/vitest.config.ts
Due: no-version-ranges, no-sync-fs-in-hooks, no-try-catch

chore(quality): regenerate lockfile after removing @types/bun
  config/quality/bun.lock
Due: none

fix(quality): remove bun-types from tsconfig (bun provides types automatically)
  config/quality/tsconfig.json
Due: none

fix(quality): add bun-types for CI type checking, remove lockfile from git
  config/quality/bun.lock
  config/quality/package.json
  config/quality/tsconfig.json
Due: no-version-ranges

fix(ci): remove frozen-lockfile flag (pnpm-lock.yaml provides pinning)
  .github/workflows/schema-drift.yml
  .github/workflows/validate.yml
Due: none

fix(quality): format code with biome, fix MCP smoke test exit code handling
  .github/workflows/validate.yml
  config/quality/src/evolution/consolidate.ts
  config/quality/src/evolution/evolve.ts
  config/quality/src/evolution/grade.ts
  config/quality/src/evolution/lib/errors.ts
  config/quality/src/evolution/lib/metrics-db.ts
  config/quality/src/evolution/lib/spawn.ts
  config/quality/src/evolution/reflect.ts
  config/quality/src/evolution/trend-alert.ts
  config/quality/src/stack/schema.test.ts
  config/quality/src/stack/versions.test.ts
  config/quality/tests/lib/result.test.ts
Due: no-try-catch

fix(nvim): fix snacks picker floating window captured by edgy sidebar
  .github/workflows/neovim-test.yml
  config/nvim/lua/config/lazy.lua
  config/nvim/lua/config/options.lua
  config/nvim/lua/plugins/edgy.lua
  config/nvim/lua/plugins/lang-nix.lua
  config/nvim/lua/plugins/neotest.lua
  config/nvim/lua/plugins/nvim-lspconfig.lua
  config/nvim/lua/plugins/nvim-web-devicons.lua
Due: none

test(nvim): update config_spec.lua for consolidated LSP config
  config/nvim/tests/config_spec.lua
Due: none

feat(secrets): add Exa and Ref API keys with generic MCP path
  modules/darwin/secrets.nix
  secrets/darwin.yaml
Due: nixfmt, no-error-swallowing

refactor(mcp): consolidate MCP servers from 16 to 6 SOTA servers
  modules/home/apps/mcp.nix
Due: nixfmt, no-error-swallowing

Path conditions:
  nixfmt: any of: *.nix
  no-shell-hooks: any of: config/quality/src/hooks/*.sh
  no-error-swallowing: any of: *.nix
  no-readmes: any of: config/**/*.md
  no-version-ranges: any of: **/package.json
  no-sync-fs-in-hooks: any of: config/quality/src/hooks/**/*.ts
  no-try-catch: any of: config/quality/src/**/*.ts, but not: config/quality/src/rules/*.ts
