Repository aitchwhy/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxlint, typecheck, nixfmt

lefthook.yml:

min_version: 1.9.0

pre-commit:
  parallel: true
  skip: [merge, rebase]
  commands:
    biome:
      glob: 'config/quality/**/*.{js,ts,tsx,json}'
      root: 'config/quality'
      run: bunx @biomejs/biome check --write {staged_files}
      stage_fixed: true

    oxlint:
      glob: 'config/quality/**/*.{js,ts,tsx,jsx}'
      root: 'config/quality'
      run: bunx oxlint --deny correctness {staged_files}

    typecheck:
      glob: 'config/quality/**/*.{ts,tsx}'
      root: 'config/quality'
      run: bun run typecheck

    nixfmt:
      glob: '**/*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true

# commit-msg hooks disabled - conventional commits enforced by CI
# commit-msg:
#   commands:
#     commitlint:
#       run: bunx commitlint --config config/quality/commitlint.config.cjs --edit {1}

chore(skills): rename told-vault-worktrees to told-worktrees [TOLD-1851] (#18)
  config/claude-code/skills/commit/SKILL.md
  config/claude-code/skills/plan-ticket/SKILL.md
Due: none

fix(claude): add told-worktrees parent to Filesystem extension SSOT
  modules/home/apps/claude.nix
Due: nixfmt

fix(claude): unset CLAUDE_CODE_EFFORT_LEVEL in cc wrapper
  modules/home/apps/claude.nix
Due: nixfmt

feat(homebrew): add epic-games cask for Unreal Engine and MetaHuman
  modules/homebrew.nix
Due: nixfmt

feat(homebrew): add chatgpt and codex-app desktop casks
  modules/homebrew.nix
Due: nixfmt

chore(flake): update inputs to latest 2026-04-23
  flake.lock
Due: none

fix(security): pin agent-browser to mitigate supply-chain attacks
  pkgs/agent-browser.nix
Due: nixfmt

feat(audit): integrate CVE scanners into switch lifecycle
  .gitignore
  justfile
  modules/home/packages/common.nix
  scripts/security-audit.sh
Due: nixfmt

feat(audit): triage config + fix CVE parsers in audit script
  config/security/osv-scanner.toml
  config/security/vulnix-whitelist.toml
  scripts/security-audit.sh
Due: none

chore(flake): update inputs to latest 2026-04-28
  flake.lock
Due: none

feat(homebrew): add Xcode for UE 5.7 Metal shader compilation
  modules/homebrew.nix
Due: nixfmt

fix(direnv): disable check phase to prevent build hang
  modules/nixpkgs.nix
Due: nixfmt

fix(claude): retry caveman plugin install on transient git failures
  modules/home/apps/claude.nix
Due: nixfmt

fix(claude): force HTTPS for caveman plugin clone
  modules/home/apps/claude.nix
Due: nixfmt

feat(audit): add disk-audit script and just recipe
  CLAUDE.md
  config/hazel/CLAUDE.md
  justfile
  scripts/disk-audit.sh
Due: none

feat(audit): add disk-audit script and just recipe (#19)
  CLAUDE.md
  config/hazel/CLAUDE.md
  justfile
  scripts/disk-audit.sh
Due: none

feat(claude): block hallucinated cloud-sync writes + harden planner
  config/claude-code/agents/architect.md
  config/quality/src/generators/claude/settings.generator.ts
Due: biome, oxlint, typecheck

chore(flake): update inputs to latest 2026-05-05
  flake.lock
Due: none

fix(homebrew): rename linear-linear cask to linear
  modules/homebrew.nix
Due: nixfmt

chore(flake): update inputs to latest 2026-05-08
  flake.lock
Due: none

chore(flake): update inputs to latest 2026-05-09
  flake.lock
Due: none

chore(just): drop _audit from switch deps
  justfile
Due: none

feat(codex): add cx multi-account launcher + brew cask install
  modules/home/apps/agents-launcher.nix
  modules/home/apps/claude.nix
  modules/home/apps/codex.nix
  modules/home/default.nix
  modules/home/packages/common.nix
  modules/homebrew.nix
Due: nixfmt

fix(codex): pass cx args via {{args}} so non-interactive dispatch works
  modules/home/apps/codex.nix
Due: nixfmt

chore(codex): drop codex-max-2 from cx picker (single-account for now)
  modules/home/apps/codex.nix
Due: nixfmt

feat(codex-harness): land Phase B foundation (T3 + T4 + T7 + ADR-015)
  AGENTS.md
  config/quality/docs/adr/015-codex-harness-port.md
  config/quality/src/hooks/codex-definitions.ts
  config/quality/src/hooks/lib/hook-input-codex.test.ts
  config/quality/src/hooks/lib/hook-input-codex.ts
Due: biome, oxlint, typecheck

fix(codex): add cx shell alias mirroring cc
  modules/home/shell/aliases.nix
Due: nixfmt

feat(codex-harness): land Phase B batch 1 (T5 + T8 + T9)
  .codex/config.toml
  config/claude-code/agents/architect.toml
  config/quality/src/generate.ts
  config/quality/src/generators/codex/config-toml.generator.ts
  config/quality/src/generators/codex/index.ts
Due: biome, oxlint, typecheck

feat(codex-harness): expand codex.nix with symlinks + config deploy (T6)
  modules/home/apps/codex.nix
Due: nixfmt

feat(codex-harness): wire codex stdin adapter + docs (T10 + T11b/c)
  CLAUDE.md
  config/quality/docs/drift-governance.md
  config/quality/src/hooks/lib/effect-hook.ts
Due: biome, oxlint, typecheck

chore(codex): treefmt nix formatting
  modules/home/apps/codex.nix
Due: nixfmt

fix(codex-harness): apply audit follow-ups (delimiter bug + stale docs)
  AGENTS.md
  config/quality/docs/adr/015-codex-harness-port.md
  config/quality/src/generators/codex/config-toml.generator.ts
  config/quality/src/hooks/lib/hook-input-codex.test.ts
  config/quality/src/hooks/lib/hook-input-codex.ts
Due: biome, oxlint, typecheck

refactor(codex-harness): land CC-74/75/76 audit follow-ups
  config/quality/package.json
  config/quality/src/generators/codex/config-toml.generator.test.ts
  config/quality/src/hooks/codex-definitions.ts
  config/quality/src/hooks/definitions.ts
  config/quality/src/hooks/enforce-packages.ts
  config/quality/src/hooks/session-init.ts
  config/quality/src/hooks/unified-polish.ts
Due: biome, oxlint, typecheck

feat(codex-harness): multi-sgconfig ast-grep support (CC-84)
  config/quality/src/hooks/lib/find-sgconfig.test.ts
  config/quality/src/hooks/lib/find-sgconfig.ts
  config/quality/src/hooks/unified-polish.ts
Due: biome, oxlint, typecheck

fix(codex): rename [features].codex_hooks to hooks, bump model to gpt-5.5 (CC-85)
  config/quality/src/generators/codex/config-toml.generator.test.ts
  config/quality/src/generators/codex/config-toml.generator.ts
  config/quality/src/hooks/lib/guards/procedural.ts
  config/quality/src/hooks/pre-tool-use.ts
Due: biome, oxlint, typecheck

fix(codex): rename [features].codex_hooks to hooks, bump model to gpt-5.5 (CC-85) (#20)
  config/quality/src/generators/codex/config-toml.generator.test.ts
  config/quality/src/generators/codex/config-toml.generator.ts
  config/quality/src/hooks/lib/guards/procedural.ts
  config/quality/src/hooks/pre-tool-use.ts
Due: biome, oxlint, typecheck

fix(codex): export REF_API_KEY user-wide so `codex` works without `cx`
  modules/home/shell/zsh.nix
Due: nixfmt

fix(wrappers): cc/cx passthrough unknown $1 to default account
  modules/home/apps/claude.nix
  modules/home/apps/codex.nix
Due: nixfmt
