Repository aitchwhy/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxlint, typecheck, nixfmt

lefthook.yml:

min_version: 1.9.0

pre-commit:
  parallel: true
  skip: [merge, rebase]
  commands:
    biome:
      glob: 'config/quality/**/*.{js,ts,tsx,json}'
      root: 'config/quality'
      run: bunx @biomejs/biome check --write {staged_files}
      stage_fixed: true

    oxlint:
      glob: 'config/quality/**/*.{js,ts,tsx,jsx}'
      root: 'config/quality'
      run: bunx oxlint --deny correctness {staged_files}

    typecheck:
      glob: 'config/quality/**/*.{ts,tsx}'
      root: 'config/quality'
      run: bun run typecheck

    nixfmt:
      glob: '**/*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true

# commit-msg hooks disabled - conventional commits enforced by CI
# commit-msg:
#   commands:
#     commitlint:
#       run: bunx commitlint --config config/quality/commitlint.config.cjs --edit {1}

fix(claude): use mkMerge for alternate config dir home.file entries
  modules/home/apps/claude.nix
Due: nixfmt

feat(shell): unified cc command with fzf account picker
  modules/home/shell/aliases.nix
  modules/home/shell/zsh.nix
Due: nixfmt

feat(claude): composed statusline with account identity and context bar
  config/claude/statusline.sh
Due: none

feat(claude): add worktree isolation to plan-ticket skill
  config/claude-code/skills/plan-ticket/SKILL.md
Due: none

feat(shell): add cc help command and fzf separator/status entry
  modules/home/shell/zsh.nix
Due: nixfmt

fix(claude): set model to opus and format claude.nix
  config/quality/src/generators/claude/settings.generator.ts
  modules/home/apps/claude.nix
Due: biome, oxlint, typecheck, nixfmt

fix(claude): revert model to opusplan in settings generator
  config/quality/src/generators/claude/settings.generator.ts
Due: biome, oxlint, typecheck

feat(claude): upgrade cc to Nix-generated global justfile
  config/claude/statusline.sh
  config/just/.user.justfile
  modules/home/apps/claude.nix
  modules/home/shell/zsh.nix
Due: nixfmt

fix(claude): use double-quoted strings for nixfmt compatibility
  modules/home/apps/claude.nix
Due: nixfmt

fix(claude): nixfmt-compatible string formatting in justfile generation
  modules/home/apps/claude.nix
Due: nixfmt

feat(claude): set default model to opus
  config/quality/src/generators/claude/settings.generator.ts
Due: biome, oxlint, typecheck

feat(claude): upgrade cc to Nix-generated global justfile (#8)
  config/claude/statusline.sh
  config/just/.user.justfile
  modules/home/apps/claude.nix
  modules/home/shell/zsh.nix
Due: nixfmt

feat(claude): add trunk-based dev flow to commit command
  config/claude/commands/commit.md
Due: none

feat(claude): add trunk-based dev flow to commit command (#11)
  config/claude/commands/commit.md
Due: none

feat(claude): upgrade /commit to trunk-based development flow
  config/claude/commands/commit.md
Due: none

feat(claude): upgrade /commit to trunk-based development flow (#9)
  config/claude/commands/commit.md
Due: none

fix(nix): resolve justfile path conflict in home-manager
  modules/home/apps/claude.nix
  modules/home/apps/misc.nix
Due: nixfmt

feat(shell): add jg alias for just -g global justfile
  modules/home/shell/aliases.nix
Due: nixfmt

refactor(shell): move cc alias to shared aliases alongside j/jg
  modules/home/shell/aliases.nix
  modules/home/shell/zsh.nix
Due: nixfmt

fix(claude): add SSOT emails, fix model name, jq status output
  modules/home/apps/claude.nix
Due: nixfmt

feat(claude): update cc openai to gpt-5.3-codex via openrouter
  modules/home/apps/claude.nix
Due: nixfmt

feat(claude): update cc openai to gpt-5.3-codex via openrouter (#12)
  modules/home/apps/claude.nix
Due: nixfmt

fix(ci): correct setup-bun action version pin
  .github/workflows/ci.yml
Due: none

ci(workflows): harden unified pipeline cache behavior
  .github/workflows/ci.yml
Due: none

ci: harden unified pipeline cache behavior (#13)
  .github/workflows/ci.yml
Due: none

docs(codex): add readiness assessment, runbook, and install hook
  AGENTS.md
  config/quality/docs/adr/014-codex-cli-readiness.md
  config/quality/docs/codex-runbook.md
  modules/home/packages/common.nix
Due: nixfmt

docs(codex): add readiness assessment, runbook, and install hook (#14)
  AGENTS.md
  config/quality/docs/adr/014-codex-cli-readiness.md
  config/quality/docs/codex-runbook.md
  modules/home/packages/common.nix
Due: nixfmt

feat(shell): consolidate launcher model policy + explicit account statusline
  config/claude/statusline.sh
  modules/home/apps/claude.nix
  modules/home/shell/aliases.nix
Due: nixfmt

feat(shell): consolidate launcher model policy + explicit account statusline (#15)
  config/claude/statusline.sh
  modules/home/apps/claude.nix
  modules/home/shell/aliases.nix
Due: nixfmt

docs(codex): add AGENTS.md drift governance and refresh runbook
  AGENTS.md
  CLAUDE.md
  config/quality/docs/codex-runbook.md
  config/quality/docs/drift-governance.md
  config/quality/scripts/check-agents-drift.sh
Due: none

feat(claude): add max-4 account and enrich max-3 metadata
  config/claude/statusline.sh
  modules/home/apps/claude.nix
Due: nixfmt

feat(claude): add native Codex account to cc launcher
  modules/home/apps/claude.nix
Due: nixfmt

chore(nix): commit stale flake.lock before update
  flake.lock
Due: none

feat(claude): add commit skill and simplify plan-ticket ship phase
  config/claude-code/skills/commit/SKILL.md
  config/claude-code/skills/plan-ticket/SKILL.md
Due: none

chore(nix): update flake.lock
  flake.lock
Due: none

chore(skills): rename told-vault-worktrees to told-worktrees [TOLD-1851]
  config/claude-code/skills/commit/SKILL.md
  config/claude-code/skills/plan-ticket/SKILL.md
Due: none

refactor(skills): derive worktree root from repo name [TOLD-1851]
  config/claude-code/skills/commit/SKILL.md
  config/claude-code/skills/plan-ticket/SKILL.md
Due: none
