Repository aitchwhy/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, no-shell-hooks, no-error-swallowing, no-readmes, no-version-ranges, no-sync-fs-in-hooks, no-try-catch

lefthook.yml:

# lefthook.yml - Git hooks for dotfiles repo
# Docs: https://github.com/evilmartians/lefthook
min_version: 1.6.0

pre-commit:
  parallel: true
  # Skip all pre-commit hooks during merge/rebase operations
  # This is the legitimate alternative to LEFTHOOK=0
  skip:
    - merge
    - rebase
  commands:
    nixfmt:
      glob: "*.nix"
      run: nixfmt --check {staged_files}

    # Enforcement: No shell scripts in hooks directory
    no-shell-hooks:
      glob: "config/quality/src/hooks/*.sh"
      run: |
        if [ -n "{staged_files}" ]; then
          echo "ERROR: Shell scripts in hooks directory are banned"
          echo "Convert to TypeScript: {staged_files}"
          exit 1
        fi

    # Enforcement: No error swallowing in Nix files
    no-error-swallowing:
      glob: "*.nix"
      run: |
        if grep -E '\|\| true|2>/dev/null' {staged_files}; then
          echo "ERROR: Error swallowing patterns detected"
          echo "Replace '|| true' and '2>/dev/null' with proper error handling"
          exit 1
        fi

    # Enforcement: No README.md in config directory
    no-readmes:
      glob: "config/**/*.md"
      run: |
        if echo "{staged_files}" | grep -q "README.md"; then
          echo "ERROR: README.md files in config/ are banned"
          echo "Code should be self-documenting"
          exit 1
        fi

    # Enforcement: No hardcoded version ranges in package.json
    no-version-ranges:
      glob: "**/package.json"
      run: |
        if grep -E '"[~^]' {staged_files}; then
          echo "ERROR: Semver ranges (^ or ~) are banned"
          echo "Use exact versions from STACK.npm"
          exit 1
        fi

    # Enforcement: No sync FS in hooks (use @effect/platform)
    no-sync-fs-in-hooks:
      glob: "config/quality/src/hooks/**/*.ts"
      run: |
        if grep -E 'existsSync|readFileSync|writeFileSync|appendFileSync|mkdirSync|readdirSync|statSync' {staged_files}; then
          echo "ERROR: Sync FS in hooks. Use @effect/platform FileSystem"
          exit 1
        fi

    # Enforcement: No try/catch (use Effect.try)
    # Excludes: rule definitions (contain patterns), standalone CLI scripts
    no-try-catch:
      glob: "config/quality/src/**/*.ts"
      exclude: "config/quality/src/rules/*.ts"
      run: |
        if grep -E '\btry\s*\{' {staged_files} | grep -v 'Effect.try'; then
          echo "ERROR: try/catch detected. Use Effect.try"
          exit 1
        fi

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

chore(quality): regenerate settings.json
  config/quality/generated/settings.json
Due: none

fix(quality): exclude config files from Effect guards
  config/quality/src/hooks/lib/effect-hook.ts
Due: no-sync-fs-in-hooks, no-try-catch

feat(paragon): add guard 50 for code duplication detection
  config/quality/src/hooks/lib/guards/content.ts
Due: no-sync-fs-in-hooks, no-try-catch

docs(paragon): document guard 50 and bump to v3.6
  config/agents/skills/paragon/SKILL.md
  config/agents/skills/paragon/references/guards-detail.md
Due: no-readmes

feat(nvim): add 21 LazyVim extras for cutting-edge config
  config/nvim/lua/config/lazy.lua
Due: none

feat(nvim): add sidekick.lua for Claude CLI with Zellij backend
  config/nvim/lua/plugins/sidekick.lua
Due: none

feat(nvim): add edgy.lua for IDE-like window management
  config/nvim/lua/plugins/edgy.lua
Due: none

feat(nvim): add dap.lua with debug keybindings
  config/nvim/lua/plugins/dap.lua
Due: none

feat(nvim): add sidekick picker integration to snacks.lua
  config/nvim/lua/plugins/snacks.lua
Due: none

feat(nvim): enable sidekick NES in options.lua
  config/nvim/lua/config/options.lua
Due: none

feat(nvim): add debug adapters and biome to mason.lua
  config/nvim/lua/plugins/mason.lua
Due: none

feat(nvim): replace eslint_d/prettier with biome for JS/TS
  config/nvim/lua/plugins/conform.lua
  config/nvim/lua/plugins/nvim-lint.lua
Due: none

ci(nvim): add GitHub Actions workflow for Lua/NeoVim tests
  .github/workflows/neovim-test.yml
Due: none

feat(nix): add linter packages for neovim reproducibility
  modules/home/packages/common.nix
Due: nixfmt, no-error-swallowing

feat(nvim): override lazyvim nix extra to use nixd over nil_ls
  config/nvim/lua/plugins/lang-nix.lua
Due: none

refactor(nvim): simplify mason to debug adapters only
  config/nvim/lua/plugins/mason.lua
Due: none

chore(nvim): remove dead code and update stale comments
  config/nvim/lua/config/lazy.lua
  config/nvim/lua/plugins/blink-cmp.lua
  config/nvim/lua/plugins/mini.surround.lua
  config/nvim/lua/plugins/oil.lua
Due: none

test(nvim): add plenary-based lua test suite
  config/nvim/lua/plugins/plenary-test.lua
  config/nvim/tests/config_spec.lua
  config/nvim/tests/lsp_spec.lua
  config/nvim/tests/minimal_init.lua
Due: none

ci(nvim): add neovim config validation to flake checks and gha
  .github/workflows/neovim-test.yml
  flake/checks.nix
Due: nixfmt, no-error-swallowing

feat(claude): add reactbits MCP server
  modules/home/apps/claude.nix
Due: nixfmt, no-error-swallowing

feat(claude): upgrade shadcn MCP to official package
  modules/home/apps/claude.nix
Due: nixfmt, no-error-swallowing

fix(nvim): suppress LazyVim startup warnings and changelog
  config/nvim/lazyvim.json
  config/nvim/lua/plugins/lazyvim.lua
  config/nvim/lua/plugins/mason.lua
Due: none

refactor(claude): generalize envVars and add remote MCP transport
  modules/home/apps/claude.nix
Due: nixfmt, no-error-swallowing

feat(secrets): add datadog API credentials to sops-nix
  modules/darwin/secrets.nix
  secrets/darwin.yaml
Due: nixfmt, no-error-swallowing

feat(home): enable Claude Code LSP support
  modules/home/default.nix
Due: nixfmt, no-error-swallowing

chore(quality): purge Nx monorepo references
  config/cursor/settings.json
  config/quality/generated/memories.md
  config/quality/src/generators/generators.test.ts
  config/quality/src/memories/index.ts
  config/quality/src/memories/memories.test.ts
  config/quality/tests/integration.test.ts
Due: no-readmes, no-try-catch

chore(quality): migrate biome to v2 formatter-only config
  config/quality/biome.json
  lefthook.yml
Due: none

chore(quality): add oxlint type-aware linting scripts
  config/quality/package.json
  config/quality/pnpm-lock.yaml
Due: no-version-ranges

chore(quality): update version registry with oxlint
  config/quality/src/stack/versions.ts
Due: no-try-catch

chore(quality): update biome schema to 2.3.9
  config/quality/biome.json
Due: none

fix(quality): add bun exception for config/quality directory
  config/quality/bun.lock
  config/quality/src/hooks/lib/guards/procedural.ts
Due: no-sync-fs-in-hooks, no-try-catch

fix(quality): add oxlint-tsgolint to NpmVersions schema
  config/quality/src/stack/schema.ts
Due: no-try-catch

fix(quality): add @playwright/test dev dependency
  config/quality/package.json
  config/quality/pnpm-lock.yaml
Due: no-version-ranges

refactor(quality): convert Effect.gen to Effect.sync for pure functions
  config/quality/src/hooks/lib/ast-grep.ts
Due: no-sync-fs-in-hooks, no-try-catch

fix(quality): remove useless fallback in object spreads
  config/quality/src/hooks/enforce-versions.ts
Due: no-try-catch

refactor(quality): add stringifyError helper for safe error handling
  config/quality/src/hooks/lib/hook-logging.ts
  config/quality/src/lib/logging.ts
Due: no-sync-fs-in-hooks, no-try-catch

refactor(quality): use Cause.pretty for idiomatic error handling
  config/quality/src/hooks/post-switch-gc.ts
  config/quality/src/hooks/pre-tool-use.ts
  config/quality/src/hooks/session-init.ts
  config/quality/src/hooks/session-stop.ts
Due: no-try-catch

fix(quality): prefix floating promises with void
  config/quality/src/generate.ts
  config/quality/src/hooks/post-tool-use.ts
  config/quality/src/hooks/unified-polish.ts
Due: no-try-catch
