Repository aitchwhy/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxlint, typecheck, nixfmt

biome:
  run: bunx @biomejs/biome check --write {staged_files}
  stage_fixed: true

oxlint:
  run: bunx oxlint --deny correctness {staged_files}

typecheck:
  run: bun run typecheck

nixfmt:
  run: nixfmt {staged_files}
  stage_fixed: true

chore(codex): treefmt nix formatting
  modules/home/apps/codex.nix
Due: nixfmt

fix(codex): switch ref MCP from bearer-token to OAuth-only auth
  config/quality/src/generators/codex/config-toml.generator.test.ts
  config/quality/src/generators/codex/config-toml.generator.ts
Due: biome, oxlint, typecheck

fix(codex): deploy hook depends on generateQuality (was: writeBoundary)
  modules/home/apps/codex.nix
Due: nixfmt

fix(codex): suppress approve/skip decisions Codex rejects [CC-86]
  config/quality/src/hooks/lib/hook-output-codex.test.ts
  config/quality/src/hooks/lib/hook-output-codex.ts
Due: biome, oxlint, typecheck

fix(codex): gate outputDecision and emitDecision on Codex suppressor [CC-86]
  config/quality/src/hooks/lib/effect-hook.ts
  config/quality/src/hooks/lib/hook-logging.ts
Due: biome, oxlint, typecheck

fix(codex): suppress approve/skip decisions Codex rejects [CC-86] (#21)
  config/quality/src/hooks/lib/effect-hook.ts
  config/quality/src/hooks/lib/hook-logging.ts
  config/quality/src/hooks/lib/hook-output-codex.test.ts
  config/quality/src/hooks/lib/hook-output-codex.ts
Due: biome, oxlint, typecheck

fix(codex): symlink subagents into $CODEX_HOME/agents/ [CC-87]
  AGENTS.md
  CLAUDE.md
  config/claude-code/skills/commit/SKILL.md
  config/quality/docs/adr/015-codex-harness-port.md
  config/quality/docs/drift-governance.md
  config/quality/src/generators/codex/config-toml.generator.ts
  modules/home/apps/codex.nix
Due: biome, oxlint, typecheck, nixfmt

fix(codex): symlink subagents into $CODEX_HOME/agents/ [CC-87] (#22)
  AGENTS.md
  CLAUDE.md
  config/claude-code/skills/commit/SKILL.md
  config/quality/docs/adr/015-codex-harness-port.md
  config/quality/docs/drift-governance.md
  config/quality/src/generators/codex/config-toml.generator.ts
  modules/home/apps/codex.nix
Due: biome, oxlint, typecheck, nixfmt

fix(codex): drop mcp_servers array from architect agent [CC-89]
  config/claude-code/agents/architect.toml
Due: none

feat(codex): port caveman skill to shared skills SSOT [CC-51]
  config/claude-code/skills/caveman/SKILL.md
Due: none

feat(codex): port caveman skill to shared skills SSOT [CC-51] (#23)
  config/claude-code/skills/caveman/SKILL.md
Due: none

feat(codex): dispatch Guards 3/32 on apply_patch + ADR-017 [CC-50]
  CLAUDE.md
  config/quality/docs/adr/017-codex-hook-layering-superset.md
  config/quality/docs/adr/README.md
  config/quality/src/hooks/lib/guards/procedural.ts
Due: biome, oxlint, typecheck

fix(claude-code): project-relative plan path via single PLAN_FILE [CC-90]
  config/claude-code/skills/plan-ticket/SKILL.md
Due: none

feat(codex): wire Stop/UserPromptSubmit/PermissionRequest events [CC-91]
  config/quality/pnpm-lock.yaml
  config/quality/pnpm-workspace.yaml
  config/quality/src/hooks/codex-definitions.ts
  config/quality/src/hooks/lib/hook-input-codex.test.ts
  config/quality/src/hooks/lib/hook-input-codex.ts
  config/quality/src/hooks/prompt-guards.ts
  config/quality/src/hooks/unified-polish.ts
Due: biome, oxlint, typecheck

feat(skills): add spawn-agents-on-csv driver skill [CC-49]
  config/claude-code/skills/spawn-agents-on-csv/SKILL.md
Due: none

feat(skills): add spawn-agents-on-csv driver skill [CC-49] (#24)
  config/claude-code/skills/spawn-agents-on-csv/SKILL.md
Due: none

feat(codex): add codex-max-2 + SecretsManager hydration + agents.md audit [CC-91]
  AGENTS.md
  modules/home/apps/codex.nix
Due: nixfmt

feat(codex): add codex-max-2 + SecretsManager hydration + agents.md audit [CC-91] (#25)
  AGENTS.md
  modules/home/apps/codex.nix
Due: nixfmt

fix(skills): two-kind resolver in spawn-agents-on-csv [cc-95]
  config/claude-code/skills/spawn-agents-on-csv/SKILL.md
Due: none

feat(codex): cx-net + cx-net-creds recipes with scoped writable_roots [cc-94]
  modules/home/apps/agents-launcher.nix
  modules/home/apps/codex.nix
Due: nixfmt

feat(codex): cx-net + spawn-agents-on-csv two-kind resolver [cc-94] (#26)
  config/claude-code/skills/spawn-agents-on-csv/SKILL.md
  modules/home/apps/agents-launcher.nix
  modules/home/apps/codex.nix
Due: nixfmt

feat(codex): default reasoning effort to high
  config/quality/src/generators/codex/config-toml.generator.test.ts
  config/quality/src/generators/codex/config-toml.generator.ts
Due: biome, oxlint, typecheck

feat(codex): keep plan mode high effort
  config/quality/pnpm-workspace.yaml
  config/quality/src/generators/codex/config-toml.generator.test.ts
  config/quality/src/generators/codex/config-toml.generator.ts
  config/quality/src/hooks/session-init.ts
  config/quality/src/hooks/unified-polish.ts
Due: biome, oxlint, typecheck

feat(codex): audit origin before architect plans
  config/claude-code/agents/architect.md
  config/claude-code/agents/architect.toml
Due: none

Path conditions:
  biome: any of: config/quality/**/*.{js,ts,tsx,json} and ^config/quality/
  oxlint: any of: config/quality/**/*.{js,ts,tsx,jsx} and ^config/quality/
  typecheck: any of: config/quality/**/*.{ts,tsx} and ^config/quality/
  nixfmt: any of: **/*.nix
