Repository aitchwhy/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-syntax, nixfmt, no-shell-hooks, no-error-swallowing, no-readmes, no-version-ranges, no-sync-fs-in-hooks, no-dist-exports, no-rewrite-extensions

format:
  run: npx biome check --write {staged_files}
  stage_fixed: true

lint-syntax:
  run: npx oxlint {staged_files}

nixfmt:
  run: nixfmt --check {staged_files}

no-shell-hooks:
  run: "if [ -n \"{staged_files}\" ]; then\n  echo \"ERROR: Shell scripts in hooks directory are banned\"\n  exit 1\nfi\n"

no-error-swallowing:
  run: "if grep -E '\\|\\| true|2>/dev/null' {staged_files}; then\n  echo \"ERROR: Error swallowing patterns detected\"\n  exit 1\nfi\n"

no-readmes:
  run: "if echo \"{staged_files}\" | grep -qE \"README\\.md$\"; then\n  echo \"ERROR: README.md in config/ banned. Code is self-documenting.\"\n  exit 1\nfi\n"

no-version-ranges:
  run: "if grep -E '\"[~^]' {staged_files}; then\n  echo \"ERROR: Semver ranges (^ or ~) banned. Use exact versions.\"\n  exit 1\nfi\n"

no-sync-fs-in-hooks:
  run: "if grep -E 'existsSync|readFileSync|writeFileSync' {staged_files}; then\n  echo \"ERROR: Sync FS banned. Use @effect/platform FileSystem\"\n  exit 1\nfi\n"

no-dist-exports:
  run: "if grep -E '\"\\./(dist|build)/' {staged_files}; then\n  echo \"ERROR: dist exports banned. Use ./src/index.ts (source-only)\"\n  exit 1\nfi\n"

no-rewrite-extensions:
  run: "if grep -q 'rewriteRelativeImportExtensions' {staged_files}; then\n  echo \"ERROR: rewriteRelativeImportExtensions banned (source-only strategy)\"\n  exit 1\nfi\n"

chore(home): update module reference from claude.nix to mcp.nix
  modules/home/default.nix
Due: nixfmt, no-error-swallowing

chore: remove obsolete Cursor and MCP override files
  .cursor/mcp.json
  .cursor/rules
  .mcp.json
Due: none

chore(quality): update bun.lock
  config/quality/bun.lock
Due: none

chore(mcp): apply nixfmt formatting to activation script
  modules/home/apps/mcp.nix
Due: nixfmt, no-error-swallowing

feat(claude): add custom status line with git info and context usage
  config/quality/generated/claude/settings.json
Due: none

fix(quality): add clean slate and verification to generator
  config/quality/src/generate.ts
Due: none

feat(skills): add ref-mcp skill, remove context7-mcp
  config/quality/src/skills/index.ts
  config/quality/src/skills/ref-mcp.skill.ts
Due: none

docs(skills): update mcp-optimization with ref.tools guidance
  config/quality/src/skills/mcp-optimization.skill.ts
Due: none

chore(quality): regenerate artifacts with clean slate
  config/quality/generated/claude/settings.json
  config/quality/generated/claude/skills/context7-mcp/SKILL.md
  config/quality/generated/claude/skills/mcp-optimization/SKILL.md
  config/quality/generated/claude/skills/ref-mcp/SKILL.md
  config/quality/generated/cursor/rules/context7-mcp.mdc
  config/quality/generated/cursor/rules/mcp-optimization.mdc
  config/quality/generated/cursor/rules/ref-mcp.mdc
  config/quality/generated/gemini/GEMINI.md
Due: no-readmes

fix(quality): update settings generator for ref-mcp
  config/quality/src/generators/claude/settings.generator.ts
Due: none

fix(mcp): add all 6 MCPs to setup-claude-mcps script
  modules/home/apps/mcp.nix
Due: nixfmt, no-error-swallowing

chore(skills): delete obsolete context7-mcp skill source
  config/quality/src/skills/context7-mcp.skill.ts
Due: none

refactor(mcp): declarative Claude Code config via Nix activation
  modules/home/apps/mcp.nix
Due: nixfmt, no-error-swallowing

fix(mcp): remove HTTP server from Desktop, derive CLI from SSOT
  modules/home/apps/mcp.nix
Due: nixfmt, no-error-swallowing

chore(mcp): apply nix formatter to CLI format functions
  modules/home/apps/mcp.nix
Due: nixfmt, no-error-swallowing

refactor(quality): reconcile SSOT versions to Dec 2025 stable (4.2.0)
  config/quality/src/stack/schema.ts
  config/quality/src/stack/versions.ts
Due: none

feat(quality): add 5 mobile ecosystem skills (28 to 33)
  config/quality/src/skills/copier-template.skill.ts
  config/quality/src/skills/expo.skill.ts
  config/quality/src/skills/index.ts
  config/quality/src/skills/moti.skill.ts
  config/quality/src/skills/nativewind.skill.ts
  config/quality/src/skills/react-native.skill.ts
Due: none

feat(quality): add Guard 34 to enforce Copier for scaffolding
  config/quality/src/hooks/lib/guards/procedural.ts
Due: none

chore(quality): add pipx, copier, tsx to allowed permissions
  config/quality/src/generators/claude/settings.generator.ts
Due: none

feat(justfile): add Copier recipes for project scaffolding
  justfile
Due: none

fix(quality): consolidate forbidden packages to SSOT and fix JSON parse error
  config/quality/generated/claude/settings.json
  config/quality/generated/gemini/GEMINI.md
  config/quality/src/hooks/enforce-versions.ts
  config/quality/src/hooks/lib/guards/procedural.ts
Due: no-readmes

feat(quality): add no-env-conditionals rule (Guard 51)
  config/quality/src/rules/architecture.rules.ts
  config/quality/src/rules/index.ts
Due: none

feat(quality): add AST-grep rule for Guard 51
  config/quality/rules/paragon/no-env-conditionals.yml
Due: none

feat(quality): add zero-environment-awareness skill
  config/quality/src/skills/zero-environment-awareness.skill.ts
Due: none

feat(quality): register skill and update count to 34
  config/quality/src/skills/index.ts
Due: none

feat(quality): update PARAGON to v3.7 with 51 guards
  config/quality/src/skills/paragon.skill.ts
Due: none

feat(quality): add Guard 51 procedural enforcement
  config/quality/src/hooks/lib/guards/procedural.ts
Due: none

test(quality): add no-env-conditionals to critical rules
  config/quality/tests/rules.test.ts
Due: none

feat(nix): add fnm package for Node.js version management
  config/quality/generated/claude/rules/RULES.md
  config/quality/generated/claude/skills/paragon/SKILL.md
  config/quality/generated/cursor/rules/paragon.mdc
  config/quality/generated/gemini/GEMINI.md
  modules/home/tools/development.nix
Due: nixfmt, no-error-swallowing, no-readmes

feat(nix): add fnm shell initialization for zsh
  modules/home/shell/zsh.nix
Due: nixfmt, no-error-swallowing

feat(quality): add effect-xstate category to rule schema
  config/quality/src/schemas/index.ts
Due: none

feat(quality): add effect-xstate rules definitions
  config/quality/src/rules/effect-xstate.rules.ts
Due: none

feat(quality): add effect-xstate skill documentation
  config/quality/src/skills/effect-xstate.skill.ts
Due: none

feat(quality): add guards 52-55 for effect-xstate patterns
  config/quality/src/hooks/lib/guards/procedural.ts
Due: none

feat(quality): register effect-xstate in rules and skills index
  config/quality/src/rules/index.ts
  config/quality/src/skills/index.ts
Due: none

feat(quality): add ast-grep yaml rules for effect-xstate
  config/quality/rules/effect-xstate/no-ref-for-machine-state.yml
  config/quality/rules/effect-xstate/no-runpromise-then-catch.yml
  config/quality/rules/effect-xstate/no-string-error-conversion.yml
  config/quality/rules/effect-xstate/no-useeffect-runpromise.yml
Due: none

fix(quality): correct rules path in lefthook pre-commit hook
  config/quality/lefthook.base.yml
Due: none

docs(quality): add HTTP-SSOT pattern documentation
  config/quality/generated/claude/rules/RULES.md
  config/quality/generated/gemini/GEMINI.md
  config/quality/rules/effect/HTTP-SSOT.md
Due: no-readmes

Path conditions:
  format: any of: config/brain/**/*.{ts,tsx,js,jsx,json} and ^config/brain/
  lint-syntax: any of: config/brain/**/*.{ts,tsx,js,jsx} and ^config/brain/
  nixfmt: any of: *.nix
  no-shell-hooks: any of: config/brain/src/hooks/*.sh
  no-error-swallowing: any of: *.nix
  no-readmes: any of: config/**/*.md
  no-version-ranges: any of: **/package.json
  no-sync-fs-in-hooks: any of: config/brain/src/hooks/**/*.ts
  no-dist-exports: any of: **/package.json
  no-rewrite-extensions: any of: **/tsconfig*.json
